<div id="top"></div>

<div class="page">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">
			<img src="../assets/images/booking.jpg" alt="Logo" style="width:100px;" class="rounded-pill">
		</a>
	</nav>	
	<div class="s130">
      <form>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <input id="search" type="text" placeholder="What are you looking for?" />
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="button">SEARCH</button>
          </div>
        </div>
        <span class="info">ex. Game, Music, Video, Photography</span>
      </form>
    </div>

	<div class="row">

		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>Amount : 10</p>
					<p>Currency : 10</p>
					<p>Formatted : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>

		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>amount : 10</p>
					<p>amount : 10</p>
					<p>amount : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>
		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>amount : 10</p>
					<p>amount : 10</p>
					<p>amount : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>
		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>amount : 10</p>
					<p>amount : 10</p>
					<p>amount : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>

		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>amount : 10</p>
					<p>amount : 10</p>
					<p>amount : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>
		<div class="booking-form col-sm-4 my-5">
			<form>
				<div class="form-header">
					<h3>{{@model.activity.name}}</h3>
				</div>
				<div class="">
					<p>{{@model.activity.description}}</p>
				</div>				



				<div class="form-group">
					<span class="form-label">Select Ticket</span>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					<span class="select-arrow"></span>
				</div>
				<div>
					<p>amount : 10</p>
					<p>amount : 10</p>
					<p>amount : 10</p>
				</div>

				<div class="form-group">
					<span class="form-label">Choose Availble Date</span>
					<input class="form-control" type="date" required>
				</div>						

				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>		
		{{!-- <div class="booking-form col-sm-4">
			<div class="form-header">
				<h1>{{@model.activity.name}}</h1>
			</div>
			<form>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<span class="form-label">Name</span>
							<input class="form-control" type="text" placeholder="Enter your name">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<span class="form-label">Email</span>
							<input class="form-control" type="email" placeholder="Enter your email">
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="form-label">Phone</span>
					<input class="form-control" type="tel" placeholder="Enter your phone number">
				</div>
				<div class="form-group">
					<span class="form-label">Pickup Location</span>
					<input class="form-control" type="text" placeholder="Enter ZIP/Location">
				</div>
				<div class="form-group">
					<span class="form-label">Destination</span>
					<input class="form-control" type="text" placeholder="Enter ZIP/Location">
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							<span class="form-label">Choose Availble Date</span>
							<input class="form-control" type="date" required>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<span class="form-label">Select Ticket</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<span class="form-label">Min</span>
									<select class="form-control">
										<option>05</option>
										<option>10</option>
										<option>15</option>
										<option>20</option>
										<option>25</option>
										<option>30</option>
										<option>35</option>
										<option>40</option>
										<option>45</option>
										<option>50</option>
										<option>55</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<span class="form-label">AM/PM</span>
									<select class="form-control">
										<option>AM</option>
										<option>PM</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-btn">
					<button class="submit-btn">Book Now</button>
				</div>
			</form>
		</div>					 --}}
	</div>
</div>